body {
    background-color: linen;
}

h1 {
    color: maroon;
    margin-left: 40px;
}
.center-container {
  display: flex;
  justify-content: center; 
  align-items: center;    
  height: 100vh;          
  width: 100%;          
}

.content-to-center {
  text-align: center;      
}

